[alias]
	# Pull origin main
	pm = !git pull origin main
	# Switch to main
	sm = switch main
	# Rebase branch with main
	rebm = rebase main
	# Rebase branch with origin main
	rebom = pull --rebase origin main
	# Rebase branch interactivel with main
	rebim = rebase --interactive main
	# Switch to the last visited branch
	sl = !git switch -
	# View abbreviated SHA, description, and history graph of the latest 20 commits
	slog = !git --no-pager log --pretty=oneline -n 20 --graph --abbrev-commit
	# View the current working tree status using the short format
	s = status
	# Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD
	# Interactive rebase with the given number of latest commits
	reb = "!r() { git rebase -i HEAD~$1; }; r"
	# Find commits by source code
	fc = "!f() { git log --pretty=format:'%C(yellow)%h	%Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
	# Show aliases
	alias=!git config -l | grep ^alias | cut -c 7- | sort
	# Show the last branches
	showlast=!git for-each-ref --count=30 --sort=-committerdate refs/heads/
